.decoratePic
{
	margin-top: 0px;
	margin-left: 250px; 
	margin-right: 700px;
	font-size: 55px;
	margin-bottom: 0px;
	line-height: 51px;
	float: right;
}
.textOne
{
	margin-right: 250px;
	margin-left: 0px;
}
.header
{
	margin-top: 0px;
	margin-left: 250px; 
	margin-right: 650px;
	font-size: 50px;
	margin-bottom: 0px;
	line-height: 51px;
}
.mainText
{
	margin-top: 0px;
	margin-left: 250px; 
	margin-right: 850px;
	margin-bottom: 0px;
	font-size: 13px;
	line-height: 20px;
}
.List
{
	margin-left: -20px; 
}
.ContainerStyle
{
	padding: 15px; 
	background-color: #EAE9E6; 
	border-radius: 20px
}
.ImportantMessage
{
	color: White; 
	text-align: center; 
	font-size: 20px;
	padding: 15px; 
	border-radius: 20px;
	background-color: Blue; 
}
.imageWithCaption
{
	border: 2px solid #EAE9E6; 
}
figcaption
{
	border: 2px solid #EAE9E6; 
	text-align: center;
}
figure
{
	margin-left: 0px;
}
br
{
	line-height: 9px;
}